<footer>
    <form class="newsletter">
        <label for="email">newsletter</label>
        <input type="email" id="email" placeholder="Insira seu e-mail e receba nossas novidades e promoções">
        <button onclick="cadastrarNewsletter()" class="button-news">Cadastrar</button></form> 
    <div class="contatos-nome">
        <p>contatos</p>
        <div class="contatos">
        <p>atendimento@gamemania.com.br<br><br>
        (11) 9966-6666<br><br> 
        Rua Girassol, 88, Vila Madalena, São Paulo/SP <br>
        Segunda a Sexta, das 9h às 18h <br>
         Sábados, das 9h às 15h</p>
         <div class="direitos-reservados">
            <p>2022 ₢ GameMania . Todos os direitos reservados . CNPJ 00.000.000/0001-01</p></div>
        </div>

         <div class="pagamento">
        <p>métodos de pagamento</p>
        <img src="/assets/img/pagamento.png" alt="pagamento"></div>       
    </div>
</footer>       

