                                                                                        
<section class = "banner">
    <h1>game mania</h1><br>
    <h3>a sua loja da tecnologia</h3>
</section>

<section class = "informações">  
    <div><h3>frete grátis</h3> 
        <h4>em produtos selecionados</h4></div> 
    <div><h3>entrega expressa</h3> 
        <h4>a partir de 3 dias úteis</h4></div> 
    <div><h3>desconto de 7% </h3>
         <h4> com pagamento no pix</h4></div> 
</section>

<section class="destaques"> 
    <div class="PCGAMER">
         <button class="pc-button"><p>Monte seu PC GAMER<p>
        </button></div>
    <div class="jogos">
         <h1>jogos: <br> destaque da semana</h1>
        <p>Counter-Strike, um dos títulos mais 
        <br>jogados de todos os tempos, coloca 
        <br>os jogadores na pele de dois times:
        <br>de um lado, terroristas, do outro,
        <br>os contra-terroristas, policiais
        <br> que devem impedir a ação dos 
        <br>criminosos antes que seja tarde 
        <br>demais.</p>
        <button class="jogos-button">saiba mais</button>     
    </div>
</section>
<section class="container">
    <div class="chamadat">
        <div class="chamada 1">lançamentos</div>
        <div class="chamada 2">mais vendidos</div>
        <div class="chamada 3">promoções</div>
        </div>
    <div class="Diversos" >
        <div class="lançamentos"> 
        <button class="button-diversos"> Acessórios VR</button></div> 
        <div class="mais-vendidos"> 
        <button class="button-diversos"> Headseat Gamer</button></div> 
        <div class="promoções"> 
        <button class="button-diversos"> Promoções em teclados </button></div>
    </div>
</section> 
