<body>
    <nav class="nav" id="nav"> 
 <ul class="menu" id= "menu">                            
            <li><a href="#index.html">Início</a></li>               
            <li><a href="#">Hardware</a></li>          
            <li><a href="#">Celulares</a></li>             
            <li><a href="#">Jogos</a></li>           
            <li><a href="#">Acessórios</a></li>
        </ul>
        <a href="#" id="barras"><img class="icone-menu" src="/GameMania/src/assets/img/bars.svg" alt="Ícone do menu de barras"></a>
        </nav>  
     
<header>
<div class="logo">
    <img src="/assets/img/LOGO3.svg" alt="Logo do site Gamemania">
    </div>
    <div class="pesquisa">
        <input class="caixa-de-pesquisa" type="search" placeholder="Olá, o que você procura?">
        <button><img src="/assets/img/lupa.png" alt="lupa" width="45px" ></button>
    </div>

<div class="links">
        <div class="redes-sociais">
            <a href="#"><img src="/assets/img/insta (1).png"></a>
            <a href="#"><img src="/assets/img/insta (2).png"></a>
            <a href="#"><img src="/assets/img/insta (3).png"></a>
        </div>
        <div class="login-carrinho">
            <a routerLink="/login" ><img src="/assets/img/loginbutton.png" width="65px" alt="ícone de login"></a>
            <a href="#"> <img src="/assets/img/shopchartbutton.png" width="65px" alt="ícone de carrinho"></a>
        </div>
    </div>
</header>                          
